
  
  h1 {
    background-color: slategray;
    
    color: white;
    text-align: center;
    padding: 20px 30px;
    
  }
  
  h1, p, a, h2, button {
    font-family: Arial;
  }
  
  button {
    margin: 20px;
    font-size: auto;
    border: 1px solid darkslategrey;
    
  }

  h2, #textoMpptAdecuado, #textoTodosMpptAdecuado {
    display: none;
  }

  input{
    height: auto;
    border: 1px solid darkslategrey;
    
  }